@font-face {
  font-family: Playfair;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-wrap: wrap;
}
body {
  display: flex;
  flex-direction: column;
}
.container-1 {
  background-image: url(Images/header.jpg);
  background-size: cover;
  height: 450px;
}
.container-1 .liste {
  display: flex;
  padding: 20px;
  align-items: first baseline;
  justify-content: center;
  left: 200px;
  text-transform: uppercase;
  word-spacing: 80px;
}
.container-1 a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1px;
}
.container-1 .logo {
  display: flex;
  align-items: center;
  justify-content: first baseline;
  margin-top: -50px;
  margin-left: 100px;
}
.container-1 .bienvenue {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  letter-spacing: 10px;
  font-size: 50px;
}
.container-1 h1 {
  font-weight: lighter;
}
.container-1 .etoiles {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.container-1 .p-1 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: white;
  text-align: center;
  font-size: large;
}
.container-2 .marge-b {
  background-color: #ffffff;
  width: 1500px;
  height: 150px;
}
.container-2 .img-2 {
  display: flex;
  align-items: baseline;
  margin-left: 300px;
  height: 550px;
}
.container-2 .bvn {
  font-family: Playfair;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -550px;
  margin-right: -400px;
  font-size: 47px;
}
.container-2 .p-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-right: -600px;
  font-size: 20px;
}
.container-2 .bouton-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100px;
  margin-left: 130px;
  margin-top: 50px;
}
.container-2 a {
  font-family: Playfair;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.container-2 .b1 {
  align-items: center;
  height: 40px;
  width: 200px;
  text-align: left;
  padding-left: 15px;
  background-color: white;
}
.container-2 .ptlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -63px;
  margin-left: 950px;
}
.simpson {
  margin-top: 50px;
  height: 100px;
}
.contenair-3 {
  background-color: #E5F5E5;
  height: 650px;
}
.contenair-3 .chambre {
  display: flex;
  justify-content: center;
}
.contenair-3 h2 {
  font-family: Playfair;
  padding-top: 20px;
  justify-content: center;
  align-items: baseline;
  font-size: 47px;
}
.contenair-3 .photochambre {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  column-gap: 30px;
  align-items: center;
}
.contenair-3 .p-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
  color: #6185A1;
}
.contenair-3 .nomchambre {
  display: flex;
  justify-content: center;
  column-gap: 200px;
  padding-top: 10px;
}
.contenair-3 .double {
  font-family: Playfair;
  padding-left: 30px;
}
.contenair-3 .solo {
  font-family: Playfair;
  padding-left: 70px;
}
.contenair-3 .famille {
  font-family: Playfair;
}
.marge-3 {
  display: flex;
  height: 100px;
}
.prix {
  display: flex;
  justify-content: center;
  column-gap: 240px;
  color: #3FB4BE;
  font-weight: 700;
}
.p40 {
  padding-left: 30px;
}
.p90 {
  padding-left: 20px;
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  margin-top: 35px;
  font-family: Playfair;
}
.contenair-4 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}
.contenair-4 .services {
  justify-content: center;
  align-items: center;
}
.contenair-4 .carre {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  column-gap: 30px;
  align-items: center;
  height: 350px;
  width: 350px;
  background-color: white;
  border: 2px solid #3FB4BE;
  margin-top: 150px;
  border-radius: 0 0 0 20px;
  position: relative;
}
.contenair-4 .it-1 {
  font-size: 40px;
  font-family: Playfair;
  font-weight: inherit;
  position: absolute;
  top: 80px;
  left: 20px;
}
.contenair-4 .it-2 {
  font-size: 40px;
  font-family: Playfair;
  top: 80px;
  left: 20px;
  position: absolute;
  font-weight: inherit;
}
.contenair-4 .it-3 {
  font-size: 40px;
  font-family: Playfair;
  position: absolute;
  top: 80px;
  left: 20px;
  font-weight: inherit;
}
.contenair-4 .txt-1 {
  font-size: 16px;
  position: absolute;
  left: 20px;
  top: 160px;
}
.contenair-4 .txt-2 {
  font-size: 16px;
  position: absolute;
  left: 20px;
  top: 160px;
}
.contenair-4 .txt-3 {
  font-size: 16px;
  position: absolute;
  left: 20px;
  top: 160px;
}
.contenair-4 .piscine {
  position: absolute;
  top: 30px;
  left: 20px;
}
.contenair-4 .wifi {
  position: absolute;
  top: 30px;
  left: 20px;
}
.contenair-4 .toque {
  position: absolute;
  top: 30px;
  left: 20px;
}
.contenair-5 {
  margin-top: 100px;
  background-image: url(Images/hebergement.jpg);
  height: 400px;
  width: 1900px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.contenair-5 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45%;
  top: 303%;
  font-size: x-large;
  letter-spacing: 3px;
  color: white;
  text-transform: uppercase;
}
.contenair-5 h2 {
  position: absolute;
  left: 41.5%;
  top: 308%;
  font-size: xx-large;
  letter-spacing: 3px;
  color: white;
  text-transform: uppercase;
}
.contenair-5 button {
  width: 200px;
  height: 50px;
  position: absolute;
  left: 45%;
  top: 315%;
  background-color: #28ABB9;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.contenair-5 a {
  position: absolute;
  width: 200px;
  height: 47px;
  left: 600px;
  top: 2550px;
}
.contenair-5 .bouton2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}
.contenair-5 .container-6 {
  margin-top: 150px;
}
.contenair-5 .container-6 .dertitre {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 63px;
}
.contenair-5 .container-6 .derp {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: #567D9B;
}
.contenair-5 .container-6 .doublerec {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-top: 120px;
  margin-bottom: 200px;
}
.contenair-5 .container-6 .doublerec .rect1 {
  display: flex;
  margin-left: 163px;
  width: 521px;
  height: 269px;
  background: #A8DDA8;
  border-radius: 0px 0px 0px 25px;
}
.contenair-5 .container-6 .doublerec .rect1 .edward {
  display: flex;
  margin-left: 40px;
  margin-top: -85px;
  width: 136px;
  height: 136px;
}
.contenair-5 .container-6 .doublerec .rect1 .guimh1 {
  display: flex;
  width: 65px;
  height: 47px;
  margin-top: 50px;
  margin-left: -160px;
}
.contenair-5 .container-6 .doublerec .rect1 .p-11 {
  position: absolute;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 110px;
  padding-left: -65px;
  text-align: left;
  font-style: normal;
  left: 181px;
}
.contenair-5 .container-6 .doublerec .rect1 .mikewil {
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #567D9B;
  padding-top: 220px;
  margin-right: 200px;
  left: 181px;
}
.contenair-5 .container-6 .doublerec .rect1 .guimb1 {
  position: absolute;
  width: 57.97px;
  height: 47px;
  left: 597px;
  margin-top: 210px;
}
.contenair-5 .container-6 .doublerec .rect2 {
  display: flex;
  margin-left: 163px;
  width: 521px;
  height: 269px;
  background: #A8DDA8;
  border-radius: 0px 0px 25px 0px;
}
.contenair-5 .container-6 .doublerec .rect2 .mike {
  display: flex;
  margin-left: 40px;
  margin-top: -85px;
  width: 136px;
  height: 136px;
}
.contenair-5 .container-6 .doublerec .rect2 .guimh2 {
  position: absolute;
  width: 65px;
  height: 47px;
  left: 885px;
  margin-top: 50px;
}
.contenair-5 .container-6 .doublerec .rect2 .p-22 {
  position: absolute;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 110px;
  padding-left: -65px;
  text-align: left;
  font-style: normal;
  left: 885px;
}
.contenair-5 .container-6 .doublerec .rect2 .edwb {
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #567D9B;
  padding-top: 220px;
  margin-right: 200px;
  left: 885px;
}
.contenair-5 .container-6 .doublerec .rect2 .guimb2 {
  position: absolute;
  width: 57.97px;
  height: 47px;
  left: 1305px;
  margin-top: 210px;
}
